---
import Footer from '../components/Footer/Footer';
import Hero from '../components/Hero/Hero.astro';
import TechSection from '../components/Technologies/TechSection';
import WorkSection from '../components/Work/WorkSection';
import Layout from "../layouts/Layout.astro";
---
<Layout title="Franco Perdomo Portfolio">
	<div class="bg-neutral-900">
		<main>
			<Hero />
			<TechSection />
			<WorkSection />
			<Footer />
		</main>
	</div>
</Layout>